project_id           = "your-gcp-project-id"
region               = "us-central1"
db_tier              = "db-f1-micro"
db_password          = ""
better_auth_secret   = ""
google_client_id     = ""
google_client_secret = ""
google_api_key       = ""
